    @media screen and (max-width:767px) {
        .title-logo {
            align-content: center;
        }
        .header-inner-image {
            text-align: center;
        }
        .header-inner-text {
            text-align: center;
        }
        .featured-image {
            text-align: center;
        }
    }
    
    @media screen and (min-width:768px) {
        .header-inner-image {
            order: 0;
            float: left;
        }
        .header-inner-text {
            order: 1;
            text-align: right;
        }
        .featured-image {
            text-align: left;
        }
        .title-logo {
            align-content: left;
        }
    }